/* custom css */

.top-header{
    background-color: black;
    height: 30px;
    text-align: right;
}

.my-logo-img{
    height: 100%;
    width: 100px;
}

.my-jumbotron{
    height: 500px;
    background-color: grey;
}

.jumbo-text{
    width: 100%;

}

.my-card-item{
    height: 150px;
    width: calc(288px - 0.5rem);
    background-color: brown;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.card-container{
    width: 100%;
}

.text-banner,
.img-box{
    height: 1000px;
}

.img-box{
    width: 100%;
    background-color: cornflowerblue;
}