/* custom css */

.top-header{
    background-color: black;
    height: 30px;
    text-align: right;
}

.my-logo-img{
    height: 100%;
    width: 100px;
}

.my-jumbo{
    height: 800px;
}
.my-first-jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.my-second-jumbotron{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.jumbo-text{
    width: 100%;

}

.my-card-item{
    height: 150px;
    width: calc(288px - 0.5rem);
    margin-bottom: 1rem;
}

.my-card-item img{
    height: 100%;
}

.card-container{
    width: 100%;
}

.text-banner{
    height: 1000px;
}

.img-box{
    width: 100%;
    background-color: cornflowerblue;
}

#my-it-takes{
    height: 200px;
    
}

.my-new-release{
    background-color: darkslategrey;
}